/* Genel stil ayarları */
body {
    background: #F5F5F5;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
}

/* Navbar marka stil ayarları */
.navbar-brand {
    margin: 0 0 20px 0 !important;
    display: block;
}

/* Gerçek navigasyon menüsü stil ayarları */
.real-nav {
    background: #fff;
    border-bottom: 0px !important;
    box-shadow: 0 2px 2px -2px gray !important;
    border-radius: 0 !important;
    z-index: 99;
}

/* Gerçek navigasyon menüsü linklerinin stil ayarları */
.real-nav .navbar-nav li a {
    color: #000;
    font-weight: bold; 
}

/* İçerik alanı stil ayarları */
.content-area {
    background: #F5F5F5;
    padding: 20px;
}

/* İçerik başlığı stil ayarları */
.content-header {
    font-size: 25px;
    color: black;
    padding: 10px;
    color: #207FDD;
}

/* İçerik alt başlığı stil ayarları */
.content-header small {
    font-size: 15px;
    color: #A3A49E;
}

/* İçerik gövdesi stil ayarları */
.content-body {
    background: url("../images/how-to-find-a-doctor-in-croatia.jpg") #fff;
    background-size: cover; 
    background-repeat: none; 
    background-position: center center; 
    padding: 10px; 
    min-height: 300px;
}

/* Rozet başlığı stil ayarları */
.badge-header {
    background: #207FDD;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px; 
    color: #fff;
    margin: 10px 0;
}

/* Giriş ikonlarının stil ayarları */
.img-login-icons {
    background: #fff; 
    border: 1px solid #207FDD;
    padding: 15px;
    height: 120px;
    border-radius: 60px;
    width: 120px;
}

/* Form alanı tutucunun stil ayarları */
.form-holder {
    padding: 10px 25px;
    border: 3px solid #207FDD;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.7);
}

/* Yan panel stil ayarları */
.sidebar {
    position: relative;
}

/* Yan panel alanı stil ayarları */
.sidebar .sidebar-area {
    z-index: 1;
    position: fixed;
    top: 50px;
    background: #207FDD; 
    width: 219px;
    height: 100%;
    padding: 100px 10px 10px 10px;
    left: 0;
    top: 0;
    min-height: 500px;
}

/* Yan panel menü linkleri stil ayarları */
.sidebar-menu {
    padding: 0;
}

.sidebar-menu li {
    list-style-type: none;
}

.sidebar-menu li a {
    color: #fff;
    z-index: 999;
    display: block;
    text-decoration: none !important;
    padding: 7px 15px;
    font-size: 15px;
}

.sidebar-menu li a:hover {
    background: #F2711D; 
}

/* Yan panel menü ikonları stil ayarları */
.sidebar-menu-icon {
    margin-right: 10px;
}

/* Kullanıcı profili stil ayarları */
.user-profile {
    background: #fff; 
    border: 1px solid #F2711D;
    padding: 15px;
    border-radius: 60px;
}

/* Kullanıcı isimleri stil ayarları */
.user-names {
    color: #FFFF02; 
    font-weight: bold;
    font-size: 17px;
    margin: 20px 0px 5px 0px;
}

/* Kullanıcı rolü stil ayarları */
.user-role {
    color: #FFF;
}

/* Kullanıcı verileri stil ayarları */
.p-data div {
    padding: 1px 0; 
}

.p-data div span {
    border-bottom: 1px dotted #000;
    display: inline-block;
    color: #207fdd;
}

.p-data .p-date {
    font-weight: bold; 
    font-size: 16px;
}

/* Kullanıcı referansları stil ayarları */
.p-ref div {
    padding: 10px 0 0 0;
    font-weight: bolder; 
    margin: 20px 0 0 0;
}

/* İç panel stil ayarları */
.inner-panel {
    border: 1px solid #207FDD;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
}

.inner-panel h3 {
    font-size: 19px;
    margin: 0 0 10px 0;
    color: #207FDD;
    font-weight: bold; 
}

.inner-panel span {
    color: #ED2124;
    font-size: 35px; 
    font-weight: bold;
}

.inner-panel a {
    display: block;
    font-size: 15px;
}

/* Resimlerin stil ayarları */
img[src='images/doc-background-one.png'],
img[src='images/doc-background-two-right.png'] {
    margin-top: 50px;
}
